<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joydigit.seniorcaring.mvp.mapper.ElderRoomMapper">

    <select id="pageList" resultType="com.joydigit.seniorcaring.mvp.entity.ElderRoom">
        SELECT
            r.*,
            p.project_name,
            b.building_name,
            f.floor_name
        FROM
            elder_room r
                LEFT JOIN elder_floor f on f.id = r.floor_id
                LEFT JOIN elder_project p ON r.project_id = p.id
                LEFT JOIN elder_building b ON b.id = r.building_id
        WHERE
            r.del_flag = 0
        <if test="data.projectIds != null and data.projectIds.size() > 0">
            AND  r.project_id IN (
            <foreach item="id" collection="data.projectIds" separator=",">
                #{id}
            </foreach>
            )
        </if>
        <if test="data.projectId != null and data.projectId != ''">
            AND r.project_id = #{data.projectId}
        </if>
        <if test="data.buildingId != null and data.buildingId != ''">
            AND r.building_id = #{data.buildingId}
        </if>
        <if test="data.floorId != null and data.floorId != ''">
            AND r.floor_id = #{data.floorId}
        </if>
        <if test="data.roomType != null and data.roomType != ''">
            AND r.room_type = #{data.roomType}
        </if>
        <if test="data.roomNo != null and data.roomNo != ''">
            AND r.room_no LIKE concat(concat('%',#{data.roomNo}),'%')
        </if>
        order by r.create_time desc
    </select>

    <select id="getRoomSelectByProjectId" resultType="com.joydigit.seniorcaring.mvp.vo.RoomSelectVo">
        SELECT
            r.id AS roomId,
            r.room_no AS roomNo,
            f.id AS floorId,
            f.floor_name AS floorName,
            b.id AS buildingId,
            b.building_name AS buildingName
        FROM
            elder_room r
                LEFT JOIN elder_floor f ON f.id = r.floor_id
                LEFT JOIN elder_building b ON b.id = r.building_id
        WHERE
            r.del_flag = 0
          AND r.project_id = #{projectId}
    </select>
    <select id="getBedSelectByProjectId" resultType="com.joydigit.seniorcaring.mvp.vo.RoomSelectVo">
        SELECT
            be.id as bedId,
            be.bed_no as bedNo,
            r.id AS roomId,
            r.room_no AS roomNo,
            f.id AS floorId,
            f.floor_name AS floorName,
            b.id AS buildingId,
            b.building_name AS buildingName
        FROM
            elder_bed be
                LEFT JOIN elder_room r on r.id = be.room_id
                LEFT JOIN elder_floor f ON f.id = r.floor_id
                LEFT JOIN elder_building b ON b.id = r.building_id
        WHERE
            be.del_flag = 0
          AND be.project_id = #{projectId}
    </select>
</mapper>