<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joydigit.seniorcaring.mvp.mapper.ElderResidenceHistoryMapper">

    <select id="pageList" resultType="com.joydigit.seniorcaring.mvp.entity.ElderResidenceHistory">
        SELECT
            rh.* ,b.bed_no as oldBedName,r.room_no as oldRoomName,b1.bed_no as newBedName,r1.room_no as newRoomName
        FROM
            elder_residence_history rh
                LEFT JOIN elder_bed b on rh.old_bed_id = b.id
                LEFT JOIN elder_room r on r.id = rh.old_room_id
                LEFT JOIN elder_bed b1 on rh.new_bed_id = b1.id
                LEFT JOIN elder_room r1 on r1.id = rh.new_room_id
        WHERE rh.del_flag = 0
          <if test="data.customerId != null and data.customerId != ''">
              AND rh.customer_id = #{data.customerId}
          </if>
        ORDER BY rh.create_time DESC
    </select>
</mapper>