<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joydigit.seniorcaring.mvp.mapper.ElderRoomReserveMapper">

    <select id="getRoomReserveByCustomerId" resultType="com.joydigit.seniorcaring.mvp.entity.ElderRoomReserve">
        SELECT
            rr.*,
            b.bed_no,
            r.room_no,
            r.floor_id,
            f.floor_name,
            r.building_id,
            eb.building_name
        FROM
            elder_room_reserve rr
                LEFT JOIN elder_bed b ON rr.bed_id = b.id
                LEFT JOIN elder_room r on r.id = rr.room_id
                LEFT JOIN elder_floor f on f.id = r.floor_id
                LEFT JOIN elder_building eb on eb.id = r.building_id
        WHERE rr.del_flag = 0
        and rr.customer_id = #{customerId}
        ORDER BY
            rr.create_time DESC limit 1
    </select>
</mapper>