<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joydigit.seniorcaring.mvp.mapper.ElderCustomerOutingRecordMapper">

    <select id="pageList" resultType="com.joydigit.seniorcaring.mvp.entity.ElderCustomerOutingRecord">
        select  * from   elder_customer_outing_record
                  where  del_flag = 0
                    <if test="data.checkinId != null and data.checkinId != ''">
                        and checkin_id like concat(concat('%',#{data.checkinId}),'%')
                    </if>
                    <if test="data.customerId != null and data.customerId != ''">
                        and customer_id like concat(concat('%',#{data.customerId}),'%')
                    </if>
           order by create_time desc
    </select>
</mapper>