<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joydigit.seniorcaring.mvp.mapper.ElderBedMapper">

    <select id="pageList" resultType="com.joydigit.seniorcaring.mvp.entity.ElderBed">
        SELECT
            eb.*,
            p.project_name,
            b.building_name,
            f.floor_name,
            r.room_no,
            r.floor_id,
            r.building_id
        FROM
            elder_bed eb
                LEFT JOIN elder_room r on r.id = eb.room_id
                LEFT JOIN elder_floor f ON f.id = r.floor_id
                LEFT JOIN elder_project p ON eb.project_id = p.id
                LEFT JOIN elder_building b ON b.id = r.building_id
        WHERE
            eb.del_flag = 0
        <if test="data.projectIds != null and data.projectIds.size() > 0">
            AND  eb.project_id IN (
            <foreach item="id" collection="data.projectIds" separator=",">
                #{id}
            </foreach>
            )
        </if>
        <if test="data.projectId != null and data.projectId != ''">
            AND eb.project_id = #{data.projectId}
        </if>
        <if test="data.buildingId != null and data.buildingId != ''">
            AND r.building_id = #{data.buildingId}
        </if>
        <if test="data.floorId != null and data.floorId != ''">
            AND r.floor_id = #{data.floorId}
        </if>
        <if test="data.roomId != null and data.roomId != ''">
            AND eb.room_id = #{data.roomId}
        </if>
        <if test="data.bedNo != null and data.bedNo != ''">
            AND eb.bed_no LIKE concat(concat('%',#{data.bedNo}),'%')
        </if>
        order by eb.create_time desc
    </select>

    <select id="getBedStatusListByParams" resultType="com.joydigit.seniorcaring.mvp.vo.BedStatusVo">
        SELECT
        tt.*,c.`name` as customerName
        FROM
        (
        SELECT
        be.id as bedId,
        be.bed_no as bedNo,
        be.`status`,
        be.room_id as roomId,
        IFNULL( cc.customer_id, rr.customer_id ) as customerId,
        IFNULL(fc.price,pfc.price) as price,
        IFNULL(fcd.price,pfcd.price) as dprice
        FROM
        elder_bed be
        LEFT JOIN elder_room_reserve rr ON rr.bed_id = be.id
        AND rr.STATUS = '1' AND rr.del_flag = 0
        LEFT JOIN elder_customer_checkin cc ON cc.bed_id = be.id
        AND cc.STATUS = '1' AND cc.del_flag = 0
        LEFT JOIN elder_room_fee_config fc on FIND_IN_SET(be.id,fc.item_id) AND fc.item_type = '2' AND fc.checkin_type='1' AND fc.del_flag = 0
        LEFT JOIN elder_project_fee_config pfc on pfc.project_id = be.project_id AND pfc.payment_type_code = '1' AND pfc.checkin_type = '1' AND pfc.del_flag = 0
        LEFT JOIN elder_room_fee_config fcd on FIND_IN_SET(be.id,fcd.item_id) AND fcd.item_type = '2' AND fcd.checkin_type='2' AND fcd.del_flag = 0
        LEFT JOIN elder_project_fee_config pfcd on pfcd.project_id = be.project_id AND pfcd.payment_type_code = '1' AND pfcd.checkin_type = '2' AND pfcd.del_flag = 0
        WHERE
        be.del_flag = 0
        ) tt
            LEFT JOIN elder_customer c ON tt.customerId = c.id
        WHERE 1=1
        <if test="roomIds != null and roomIds.size() > 0">
            and tt.roomId  IN (
            <foreach item="id" collection="roomIds" separator=",">
                #{id}
            </foreach>
            )
        </if>
        <if test="customerName != null and customerName != ''">
          AND c.`name` LIKE concat(concat('%',#{customerName}),'%')
        </if>
    </select>
</mapper>